exportClasses (MotifList)
exportMethods (
   subset,
   export,
   show,
   query,
   mapMotifToTranscriptionFactorGeneSymbol,
   mapTranscriptionFactorGeneSymbolToMotif
   )

export(
    MotifDb
)

import(BiocGenerics)
import(S4Vectors)
import(IRanges)
importFrom(rtracklayer, export)
import(Biostrings)
import(methods)
