exportClasses (MotifList)
exportMethods (
   subset,
   export,
   show,
   query,
   matchMotif,
   motifToGene,
   geneToMotif,
   associateTranscriptionFactors
   )

export(
    MotifDb
)

import(motifmatchr)
import(TFBSTools)
importFrom(universalmotif, convert_motifs)


import(BiocGenerics)
import(S4Vectors)
import(IRanges)
import(GenomicRanges)
importFrom(rtracklayer, export)
import(Biostrings)
import(methods)
importFrom(splitstackshape, expandRows)
importFrom(utils, read.table)
